<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compañia de luz</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>
    <style>
        body {
            background-color: #ffffff;
        }

        img {
            height: 30rem;
            object-fit: cover;
        }
    </style>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Compañia de luz</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pago de recibo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div id="carouselExample" class="carousel slide mb-4">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/dd46sqtrr/image/upload/v1709846509/journal/b9pmjkldx9nbarjviipv.jpg"
                        class="d-block w-100" alt="img">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dd46sqtrr/image/upload/v1709846718/journal/ia1s4ni7lecuvcupmnej.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dd46sqtrr/image/upload/v1709846718/journal/ljlhrmgotvmdzjlvbyn4.jpg"
                        class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <nav></nav>
    </div>
    <div class="container">
        <form action="/" method="post">
            <input class="form-control" type="number" name="numero" id="numero" placeholder="Numero de recibo" required
                value=<%=numero%>>
            <input class="form-control mt-2" type="text" name="nombre" id="nombre" placeholder="Nombre" required
                value=<%=nombre%>>
            <input class="form-control mt-2" type="text" name="adress" id="adress" placeholder="Domicilio" required
                value=<%=adress%>>
            <select class="form-select mt-2" name="servicio" id="servicio" required>
                <option value="1.08">Domicilio</option>
                <option value="2.5">Comercial </option>
                <option value="3.0">Industrial</option>
            </select>
            <input class="form-control mt-2" type="text" name="kilo" id="kilo" placeholder="Kilowatts Consumidos"
                required value=<%=kilo%>>
            <div class="mt-2">
                <button class="btn btn-primary" type="submit">Submit</button>
                <a href="/" class="btn btn-danger">Limpiar</a>
            </div>

        </form>
    </div>


    <% const precioKilo=kilo * servicio; const iva=precioKilo *.16; const masiva=iva + precioKilo; if(kilo> 10000){
        descuento =precioKilo * .50
        }else if(kilo > 1000){
        descuento =precioKilo * .20
        }else{
        descuento =precioKilo * .10
        }
        const total = (precioKilo - descuento) + iva;
        %>
        <div class="container mt-5">
            <section>
                <table class="table">
                    <thead>
                        <tr style="text-align:center;">
                            <th scope="col">Numero</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Tipo de Servicio</th>
                            <th scope="col">KiloWatts Conumidos</th>
                            <th scope="col">Costo por kW</th>
                        </tr>
                    <tbody style="text-align:center;">
                        <tr>
                            <th scope="row">
                                <%=numero%>
                            </th>
                            <td>
                                <%=nombre%>
                            </td>
                            <td>
                                <%=servicio%>
                            </td>
                            <td>
                                <%=kilo%>
                            </td>
                            <td>
                                <%=servicio%>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Subtotal:</td>
                            <td>$<%=precioKilo%>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Impuesto: </td>
                            <td>$<%=iva%>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Descuento: </td>
                            <td>
                                <%=descuento%>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="font-weight: bold;">Total a Pagar: </td>
                            <td>
                                $<%=total%>
                            </td>
                        </tr>
                    </tbody>
                    </thead>
                </table>
            </section>
        </div>
</body>

</html>